/*recette*/


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}





/*class de flexbox*/
.container-1000 {
    max-width: 1000px;
    
    margin-left: auto;
    margin: auto;
    width: 100%;

}
.flex{
    display: flex;
}
.flex2 {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.reverse {
  flex-direction: row-reverse;
}

.justify-between {
  justify-content: space-between;
}
.space-between{
    justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.alternate>div:nth-child(2n) {
  flex-direction: row-reverse;
}

.gap {
  gap: var(--gap);
}
.gap12{
  gap: 12px;
}
.gap20{
    gap: 20px;
}
/*class de largeur*/
.w40{
    width: 40%;
}
.w100 {
width: 100%;
}
.w{
    width: 100px;
}
.w48 {
    width: 48%;
}
.w50 {
width: 50%;
}
.w33 {
width: 33px;
}
.w22{
width: 22%;
}
.w25{
    width: 25%;
}
.w68{
    width: 68%;
}
.space-between {
    justify-content: space-between;



}
.space-around{
    justify-content: space-around;
  
}
.margin-top {
        margin-top: 80px;
}
.margin-top-20 {
        margin-top: 20px;
}
.margin-bottom{
    margin-bottom: 20px;
}
.align-center{
    align-items: center;
}
.font-size{
font-size:14px;
}



/*Styliser du texte*/
h1,
h2,
h3,
h4,
h5,
h6,
p,

.title {
  margin-bottom: 16px;
  color: var(--premier-plan);
  font-weight: bold;
}
.align-center{
    align-items: center;
}
h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  line-height: 1.5;
  margin-bottom: 8px;
}

a {
  color: var(--premier-plan);
  text-decoration: none;
}

.text-center {
  text-align: center;
}
/*margin au padding*/
.mt {
  margin-top: 64px;
}

.mt {
  margin-top: 32px;
}
.mt{
  margin-top: 16px;
}

.mt {
  margin-top: 100px;
}

.m-auto{
  margin-left: auto;
  margin-right: auto;
}

.p-16 {
  padding: 16px;
}

.ptb-32 {
  padding: 32px 0;
}



/*header*/
header {
  background-color: var(--troisieme-plan);
  padding: 16px 64px;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100%;
}
.logo{
    width: 160px;
}
header nav {
  display: flex;
  gap: 16px;
}

header nav a {
  color: var(--premier-plan);
  transition: color .33s ease;
}

header a:hover,
a:hover,
a:hover>i {
  color: var(--hover)
}
/*section hero*/
.hero {
    background-image: url(asset/Brown\ chocolates\ realistic\ art.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.image {
    background-image: url(asset/image\ 4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

/*carte*/
/*carte de client et benifice*/
.carte {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.215);
    border-radius: 20px;
    padding: 25px;
    width: 70%;
    margin-bottom: auto;
    margin-top: auto;

}
/*carte de produits*/
.cart {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.215);
    border-radius: 20px;
    padding: 20px;
    width: 60px;

}
/*carte histoire*/
.car{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.215);
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    margin-bottom: auto;
    margin-top: auto;
}



.img{
  width: 33%;
  border-radius: 10px;
}
.liste-puce{
  list-style-type: none;
}

/*fotter*/

.btn {
    background-color: rgb(70, 37, 2);
    color: white;
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    border-radius: 10px;
    
}
footer{
    background-color: rgb(173, 132, 88);
    width: 100%;
    
    
    padding: 5px 15px ;

    
    margin-top: 100px;
   
}





